[submodule "part7/fullstackopen-bloglist"]
	path = part7/fullstackopen-bloglist
	url = https://github.com/juhamikael/fullstackopen-bloglist
[submodule "part9/patientor-app"]
	path = part9/patientor-app
	url = https://github.com/juhamikael/fullstackopen-patientor.git
[submodule "part11/full-stack-open-pokedex"]
	path = part11/full-stack-open-pokedex
	url = https://github.com/juhamikael/full-stack-open-pokedex.git
[submodule "part11/fullstackopen-pokedex"]
	path = part11/fullstackopen-pokedex
	url = https://github.com/juhamikael/fullstackopen-pokedex
