.newAnecdote-input {
  font-family: "Montserrat", sans-serif;
  margin: 0.5rem 0;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  font-size: 1rem;
  width: 20rem;
  color: #0f0f0f;
  background-color: #fff;
}
.form-button {
  font-family: "Montserrat", sans-serif;
  margin: 0.5rem 0;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  font-size: 1rem;
  width: 5rem;
  background-color: #fff;
  cursor: pointer;
  margin-left: 0.5rem;
}

.form-button:hover {
  background-color: #ccc;
}
